<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lumen.shoe" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lumen</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <platform name="ios">
    	<icon src="www/assets/images/icon.png" width="60" height="60" />
    	<icon src="www/assets/images/icon@2x.png" width="120" height="120" />
    	<splash src="www/assets/images/splash.png" width="320" height="480"/>
    	<splash src="www/assets/images/splash@2x.png" width="640" height="960"/>
    </platform>
    <preference name="orientation" value="portrait" />
    <access origin="*" />
</widget>
